// Variables
@import 'bulma';

// Custom
@import 'spacing';
@import 'responsive-table';

.border-right-1 {
    border-right: #dcdcdc 1px solid;
    @media screen and (max-width: $tablet) {
        border-right: none;
    }
}

.user-badge {
    display: flex;
    margin: 5px 0 10px 0;

    .image {
        margin-left: 0;
        margin-right: 1rem;
        margin-bottom: 0 !important;
    }

    img {
        border-radius: 50%;
    }

    a {
        line-height: 32px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__icon {
        background-color: $blue;
        border-radius: 50%;
        line-height: 32px;
        margin: 4px 0 16px 3px;
        height: 12px;
        width: 12px;
        position: relative;

        svg {
            position: absolute;
            color: $white;
            margin: 2px;
            width: 8px;
            height: 8px;
        }
    }
}

.info-tiles {
    margin: 1rem 0;
}

.info-tiles .subtitle {
    font-weight: 300;
    color: #8f99a3;
}
.hero.welcome.is-info {
    background: #36d1dc;
    background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc);
    background: linear-gradient(to right, #5b86e5, #36d1dc);
}
.hero.welcome .title,
.hero.welcome .subtitle {
    color: hsl(192, 17%, 99%);
}

.card-footer-item {
    font-size: 14px;
    font-weight: 700;
    color: #8f99a3;
}
.card-footer-item:hover {
}
.card-table .table {
    margin-bottom: 0;
}
.events-card .card-table {
    max-height: 250px;
    overflow-y: scroll;
}

.user-header {
    display: flex;
    align-items: center;

    figure {
        margin-right: 20px;
    }

    figure > img {
        border-radius: 50%;
    }

    &__content {
        .title {
            margin-bottom: 0;
        }
    }

    &__infos {
        line-height: 1.5;
    }

    &__icon {
        width: 13px;
        height: 13px;
        margin-right: 5px;
    }
}

.no-fixed-height {
    height: auto !important;
}

.tags-input {
    &.no-fixed-height {
        min-height: 2.25em;
    }

    > input {
        outline: 0;
        border: none;
    }
}

.nachhilfe-suche {
    position: relative;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

    &__records {
        background-color: $white;
        position: absolute;
        z-index: 99;
        width: 100%;
        padding: 0;
        box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    }

    &__header {
        padding: 8px 15px;
        display: flex;
        justify-content: space-between;
    }

    &__content {
        li {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            border-top: #dcdcdc 1px solid;
            padding: 8px 12px;

            &:last-child {
                border-bottom: #dcdcdc 1px solid;
            }

            &:hover {
                background-color: $primary;
                color: $white;
            }
        }
    }
}
