// Variables
@import "bulma";

// Custom
@import "spacing";
@import "responsive-table";

.border-right-1 {
    border-right: #dcdcdc 1px solid;
    @media screen and (max-width: $tablet) {
        border-right: none;
    }
}

.user-badge {
    display: flex;
    margin: 5px 0 10px 0;

    .image {
        margin-left: 0;
        margin-right: 1rem;
        margin-bottom: 0 !important;
    }

    img {
        border-radius: 50%;
    }

    a {
        line-height: 32px;
    }
}

.info-tiles {
    margin: 1rem 0;
}

.info-tiles .subtitle {
    font-weight: 300;
    color: #8f99a3;
}
.hero.welcome.is-info {
    background: #36d1dc;
    background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc);
    background: linear-gradient(to right, #5b86e5, #36d1dc);
}
.hero.welcome .title,
.hero.welcome .subtitle {
    color: hsl(192, 17%, 99%);
}

.card-footer-item {
    font-size: 14px;
    font-weight: 700;
    color: #8f99a3;
}
.card-footer-item:hover {
}
.card-table .table {
    margin-bottom: 0;
}
.events-card .card-table {
    max-height: 250px;
    overflow-y: scroll;
}
